@import '../mixin/config.scss';
.max__width {
    width: $max-width;
    margin: 0 auto;
    @include mobile {
        width: 100%;
        overflow: hideen;
    }
    @include tablet {
        width: 100%;
        overflow: hidden;
    }
}

.full__width {
    width: 100%;
}

.section__area {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section1 {
    height: 800px;
    overflow: hidden;
}

// 말줄입표
.line__box {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
    height: 30px;
    line-height: 30px;
}

.card__style {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.section__title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 20%;
    margin: 50px auto 0;
    position: relative;
    &::after {
        display: block;
        content: "";
        width: 20%;
        height: 3px;
        background-color: #be9673;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -10%;
    }
}

.section__title__sub_ex {
    margin: 50px 0;
    text-align: center;
    color: #999;
    font-size: 15px;
}

@include mobile {
    .section__title {
        width: 50%;
    }
    .section__title__sub_ex {
        margin: 50px auto;
        line-height: 22px;
        width: 90%;
    }
}

.slider__visual__area {
    position: relative;
    overflow: hidden;
    .slider_visual_wrap {
        overflow: hidden;
        width: 100%;
        position: relative;
        .slider {
            width: 400%;
            height: 100%;
            li {
                float: left;
                width: 25%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .prve_btn {
        cursor: pointer;
        position: absolute;
        left: 5%;
        top: 40%;
    }
    .next_btn {
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 40%;
    }
}

.product__link__area {
    position: relative;
    background-color: #F5F5F2;
    padding-bottom: 100px;
    overflow: hidden;
    .side_title {
        font-weight: 700;
        font-size: 120px;
        letter-spacing: 1em;
        color: #ccc;
        writing-mode: tb-rl;
        position: absolute;
        left: 5px;
        top: 180px;
    }
    .product__link {
        .product__link__box {
            height: 500px;
            width: 90%;
            margin: 10px auto;
            box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.3);
        }
    }
}

.jante__box {
    background-image: url('./../img/product_jante.jpeg');
    background-position: right top;
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.atelier__box {
    background-image: url('./../img/product_atelier.jpeg');
    background-position: right bottom;
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.hygge__box {
    background-image: url('./../img/product_hygge.jpeg');
    background-position: right bottom;
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.platingcook__box {
    background-image: url('./../img/product_platingcook.jpeg');
    background-position: right bottom;
    background-size: 85% 90%;
    ;
    background-repeat: no-repeat;
}

.section__product__title {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
}

.section__product__ex {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    color: #999;
    strong {
        display: block;
        color: $font-color;
        font-weight: 700;
    }
    a {
        font-size: 17px;
        margin-top: 10px;
        display: block;
        letter-spacing: 1px;
        color: #be9673;
    }
}

.stores__ontv__box {
    text-align: center;
    overflow: hidden;
    padding-bottom: 200px;
    .section__sub__title {
        font-size: 30px;
        line-height: 50px;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .section__sub__title__ex {
        line-height: 30px;
        font-size: 15px;
    }
    .section__sub__btn {
        margin-top: 80px;
        button {
            width: 20%;
        }
    }
}

.stores__bg {
    background-color: #2D3048;
    color: #fff;
    .section__sub__btn {
        button {
            color: #fff;
            border-color: #fff;
            background-color: #2D3048;
            &:hover {
                background-color: #fff;
                color: #2D3048;
            }
        }
    }
}

.ontv__bg {
    background-color: #EAEAEA;
}

.story__about__area {
    margin-bottom: 117px;
}

.square__box {
    width: 40%;
    height: 400px;
    float: left;
    text-align: center;
    overflow: hidden;
}

.rectangle__box {
    width: 60%;
    height: 400px;
    float: left;
    text-align: center;
    overflow: hidden;
    .section__sub__title__color {
        margin-top: 40px;
    }
    .section__sub__btn {
        margin-top: 50px;
        button {
            width: 25%;
            border-color: #be9673;
            color: #be9673;
            font-weight: 600;
            &:hover {
                background-color: #be9673;
                border: none;
            }
        }
    }
}

.moblie__story {
    display: none;
}

.story__img__box1 {
    background-image: url('./../img/bg_section01.jpg');
    background-size: cover;
}

.story__img__box2 {
    background-image: url('./../img/bg_section03.jpg');
    background-size: cover;
}

.story__img__box3 {
    background-image: url('./../img/story_logo.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #2E3042;
}

.section__sub__title__color {
    color: $title-color;
    margin-top: 100px;
}

.section__content__paragraph {
    font-size: 15px;
    margin-top: 20px;
    line-height: 22px;
}

.last__paragraph {
    margin-top: 140px;
}

.sns__link__area {
    margin: 0;
    padding: 0;
    img {
        width: 100%;
        height: 100%;
    }
    .sns__img__area {
        width: 100%;
        height: 100%;
        overflow: hidden;
        a {
            display: block;
        }
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        .grid__inner {
            width: (100%/4) !important;
        }
    }
}

@include mobile {
    .slider__visual__area {
        .prve_btn {
            width: 25%;
        }
        .next_btn {
            width: 25%;
        }
    }
    .product__link__area {
        .product__link {
            .product__link__box {
                height: 250px;
                width: 90%;
                margin: 20px auto;
                box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.3);
            }
        }
    }
    .jante__box {
        background-size: 70% 90%;
        background-position: bottom right;
    }
    .atelier__box {
        background-size: 70% 90%;
        background-position: bottom right;
    }
    .hygge__box {
        background-size: 60% 80%;
        background-position: bottom right;
    }
    .platingcook__box {
        background-size: 60% 80%;
        background-position: bottom right;
    }
    .stores__ontv__box {
        padding-bottom: 100px;
    }
    .story__about__area {
        margin-bottom: 0;
    }
    .square__box {
        width: 100%;
        height: 300px;
        float: none;
        text-align: center;
        overflow: hidden;
    }
    .rectangle__box {
        width: 100%;
        height: 350px;
        float: none;
        .section__sub__title__color {
            margin-top: 40px;
        }
        .section__sub__btn {
            margin-top: 50px;
            button {
                width: 80%;
            }
        }
    }
    .frist__rectangle__box {
        height: 380px;
    }
    .section__content__paragraph {
        font-size: 12px;
        margin-top: 10px;
        line-height: 22px;
        width: 80%;
        margin: 10px auto 0;
    }
    .last__paragraph {
        margin-top: 50px;
    }
    .desc__story {
        display: none;
    }
    .moblie__story {
        display: block;
    }
}

// about page css
.stroy_bg {
    background-image: url('./../img/bg_section01.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
}

.stroy__bg2 {
    background-image: url('./../img/bg_section03.jpg');
    height: 560px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    .paragraph__wrap {
        padding-top: 200px;
        .color__white {
            width: 80%;
            color: #fff;
            &::after {
                background-color: #fff;
            }
        }
        .section__title__sub_ex {
            margin-top: 30px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.5px;
            width: 100%;
        }
    }
}

.paragraph__wrap {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -25%;
    .section__story__sub__title {
        font-size: 22px;
        color: rgb(26, 26, 26);
        margin: 10px 0;
    }
    .story__paragraph {
        font-size: 14px;
        line-height: 25px;
        margin-top: 20px;
    }
}

.bg__white {
    background-color: #fff;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.story__img__plating {
    padding-top: 120px;
    padding-bottom: 150px;
    text-align: center;
    img {
        width: 100%;
        height: 100%;
    }
    .section__title__sub_ex {
        font-size: 20px;
        line-height: 25px;
        margin-top: 100px;
        margin-bottom: 40px;
    }
}

@include mobile {
    .stroy__bg2 {
        .paragraph__wrap {
            padding-top: 150px;
            .color__white {
                width: 85%;
            }
            .section__title__sub_ex {
                font-size: 16px;
            }
        }
    }
    .paragraph__wrap {
        width: 90%;
        margin-left: -45%;
        .section__story__sub__title {
            font-size: 18px;
        }
    }
    .story__img__plating {
        padding-top: 120px;
        padding-bottom: 150px;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
        }
        .section__title__sub_ex {
            font-size: 17px;
            margin-top: 50px;
        }
    }
}

// cooking book css
.related__item,
.cooking__step {
    padding-top: 100px;
    .cooking__book__title {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -1px;
    }
    .list__grid {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

//공통 레이아웃 platingrecipe cookingbook
.subpage__title__warp {
    .section__title {
        width: 50%;
        &::after {
            width: 10%;
            bottom: -22px;
            margin-left: -5%;
        }
    }
}

.page__representative__area {
    overflow: hidden;
    .page__representative__img {
        width: 70%;
        float: left;
    }
    .page__representative__text {
        width: 30%;
        float: left;
        .date {
            color: $title-color;
            margin-top: 50px;
        }
        .title {
            // font-weight: 400;
            margin-top: 20px;
        }
        .dsc {
            font-size: 14px;
            line-height: 25px;
            margin-top: 30px;
            color: $sub-title-color;
        }
        .btn__area {
            margin-top: 120px;
        }
    }
    .page__representative__infomation__area {
        .time__level__serves__area {
            height: 30px;
            margin-top: 30px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            color: #be9673;
            font-weight: 700;
            padding-bottom: 15px;
            .title {
                display: inline-block;
                margin-right: 5px;
                margin-left: 20px;
                color: #808080;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .basic__material {
            p {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 400;
                color: #666;
                line-height: 20px;
            }
            font-size: 12px;
            font-weight: 400;
            color: #999;
            line-height: 20px;
        }
    }
}

.list__grid {
    padding-top: 150px;
    padding-bottom: 20px;
    a {
        display: block;
        height: 234px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .list__text__area {
        margin-top: 30px;
        .date {
            font-size: 15px;
            color: $title-color;
        }
        .title {
            font-size: 18px;
            margin-top: 10px;
        }
        .line__box {
            height: 60px;
            font-size: 14px;
            line-height: 22px;
            margin-top: 10px;
            color: $sub-title-color;
        }
    }
    .list__border {
        border: 1px solid #e6e6e6;
        text-align: center;
        font-size: 15px;
        img {
            width: 90%;
            height: 90%;
        }
    }
    .step__img {
        width: 90%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .step__text {
        font-size: 14px;
        width: 90%;
        height: 100px;
        margin-top: 20px;
        line-height: 22px;
        .date {
            font-size: 15px;
            color: $title-color;
        }
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        .grid__inner {
            width: (100%/2) !important;
        }
    }
}

@include mobile {
    .subpage__title__warp {
        .section__title {
            width: 100%;
        }
    }
    .page__representative__area {
        .page__representative__img {
            width: 100%;
            float: none;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .page__representative__text {
            width: 100%;
            float: none;
            text-align: center;
            .date {
                margin-top: 20px;
            }
            .title {
                margin-top: 20px;
            }
            .dsc {
                width: 90%;
                margin: 20px auto 0;
            }
            .btn__area {
                margin-top: 50px;
            }
        }
    }
    .list__grid {
        padding-top: 100px;
        padding-bottom: 40px;
        a {
            height: 200px;
        }
        .list__text__area {
            margin-top: 20px;
            .date {
                font-size: 14px;
            }
            .title {
                font-size: 15px;
                margin-top: 10px;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: normal !important;
                display: block;
                height: 20px;
                line-height: 20px;
            }
            .line__box {
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: normal !important;
                display: block;
                height: 30px;
                line-height: 30px;
                margin-top: 5px;
            }
        }
        .step__text {
            height: 250px;
        }
    }
}

// news css 
.news__list {
    padding-bottom: 100px;
    .page__representative__area {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 30px;
        .page__representative__img {
            width: 40%;
            height: 300px;
            margin-top: 20px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .page__representative__text {
            width: 50%;
            margin-left: 40px;
            .title {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-bottom: 12px;
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
            }
            .dsc {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 14px;
                color: #999;
                line-height: 20px;
            }
            .btn__area {
                margin-top: 30px;
            }
        }
    }
}

@include mobile {
    .news__list {
        padding-bottom: 100px;
        .page__representative__area {
            .page__representative__img {
                float: none;
                width: 100%;
            }
            .page__representative__text {
                width: 100%;
                margin-left: 0;
                float: none;
            }
        }
    }
}

// ontv css
.ontv__list {
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    .page__representative__area {
        border: 1px solid #e6e6e6; // overflow: hidden;
        //   height: 300px;
        .page__representative__img {
            &::after {
                clear: both;
                display: block;
                content: "";
            }
            width: 45%;
            overflow: hidden;
            position: relative;
            .slider__wrap {
                width: 500%;
                .scene {
                    float: left;
                    width: 20%;
                }
            }
            .slide__control {
                .prve_btn {
                    position: absolute;
                    left: 5%;
                    top: 40%;
                    cursor: pointer;
                }
                .next_btn {
                    position: absolute;
                    right: 5%;
                    top: 40%;
                    cursor: pointer;
                }
            }
        }
        .page__representative__text {
            width: 55%;
            overflow: hidden;
            &::after {
                clear: both;
                display: block;
                content: "";
            }
            &::before {
                clear: both;
                display: block;
                content: "";
            }
            .representative__text__area {
                margin-left: 20px;
                .title {
                    display: -webkit-box;
                    height: 36px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                }
                .title__sub__ex {
                    width: 90%;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-size: 14px;
                    font-weight: 400;
                    color: #666;
                    line-height: 20px;
                    position: relative;
                }
                .dsc__ex {
                    color: #666;
                    margin-right: 5px;
                }
                .btn__area {
                    margin-top: 20px;
                    position: relative;
                    height: 50px;
                    button {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 50;
                        border: 1px solid #e6e6e6;
                        border-width: 1px 0 0 1px;
                        width: 49px;
                        height: 49px;
                        &:hover {
                            background-color: #fff !important;
                            color: #666 !important;
                        }
                    }
                }
            }
        }
    }
    .sponsorship_product__area {
        width: 100%;
        border-top: 1px solid #e6e6e6;
        box-sizing: border-box;
        overflow: hidden;
        bottom: 0;
        z-index: -50;
        display: none;
        .sponsorship__product {
            text-align: center;
            img {
                width: 90%;
                height: 90%;
            }
        }
        .spon__product__name {
            color: #666;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            font-size: 14px;
        }
        .spon__product__metarial {
            color: #808080;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }
        @include mobile {
            width: 100%;
            overflow-x: hidden;
            .grid__inner {
                width: (100%/2) !important;
            }
        }
    }
}

@include mobile {
    .ontv__list {
        width: 95%;
        margin: 50px auto 0;
        position: relative;
        padding-bottom: 50px;
        .page__representative__area {
            .page__representative__img {
                float: none;
                width: 100%;
                position: relative;
                .slide__control {
                    .prve_btn {
                        img {
                            width: 20px;
                            height: 30px;
                        }
                    }
                    .next_btn {
                        img {
                            width: 20px;
                            height: 30px;
                        }
                    }
                }
            }
            .page__representative__text {
                width: 100%;
                float: none;
                overflow: hidden;
                .representative__text__area {
                    margin-left: 0;
                    .title {
                        font-size: 20px;
                    }
                    .title__sub__ex {
                        width: 95%;
                        margin: 0 auto;
                        font-size: 13px;
                    }
                    .btn__area {
                        margin-top: 10px;
                    }
                }
            }
        }
        .sponsorship_product__area {
            .spon__product__name {
                font-size: 13px;
            }
            .spon__product__metarial {
                font-size: 13px;
            }
        }
    }
}

//store css
.store__title__sub {
    font-weight: 400;
    font-size: 20px;
    color: #4c4c4c;
    letter-spacing: -0.25px;
}

.store__title__sub__ex {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}

.border__line {
    margin-top: -1px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.last__border__line {
    border-right: 1px solid #e6e6e6;
}

.store__list {
    margin-top: 16px;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.online__store,
.offline__store {
    margin-top: 50px;
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        .grid__inner {
            width: (100%/2) !important;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.offline__store {
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        .grid__inner {
            width: 100% !important;
        }
    }
    padding-bottom: 50px;
    overflow: hidden;
    .last__border__line {
        border-right: 1px solid #e6e6e6;
    }
    .store__title__sub {
        display: inline-block;
    }
    form {
        display: inline-block;
        margin-left: 30px;
        .ipt__search {
            width: 260px;
            height: 30px;
            padding-left: 20px;
            line-height: 27px;
            background-color: #fff;
            border: 1px solid #ccc;
            font-weight: 400;
            color: #999;
            font-size: 12px;
            vertical-align: top;
            letter-spacing: -0.25px;
            vertical-align: middle;
        }
        .btn_search {
            display: inline-block;
            width: 90px;
            height: 30px;
            margin-left: 10px;
            background-color: #000;
            border: 1px solid #000;
            line-height: 27px;
            font-size: 12px;
            color: #fff;
        }
    }
    .store__addres {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #666;
        padding-left: 15px;
        h3 {
            font-weight: 400;
            font-size: 14px;
            color: #be9673;
            margin-bottom: 7px;
            margin-top: 20px;
        }
    }
    .store__time {
        padding-left: 15px;
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
        color: #999;
        margin-bottom: 10px;
    }
}

// store mobile
@include mobile {
    .store__area {
        width: 95%;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .store__list {
        width:99%;
        margin: 16px auto 0;
        
    }
    .offline__store {
        form {
            display: inline-block;
            margin-left: 0px;
            .ipt__search {
                width: 200px;
                height: 30px;
                padding-left: 10px;
                letter-spacing: -0.2px;
            }
            .btn_search {
                width: 80px;
                margin-left: 5px;
            }
        }
    }
}