@import '../mixin/config.scss';
.footer {
    background-color: #fafafa;
    text-align: center;
    h2 {
        padding-top: 30px;
    }
    .footer_menu {
        width: 305px;
        height: 32px;
        margin: 20px auto;
        text-align: center;
        font-size: 0;
        border: 1px solid #ebebeb;
        border-width: 1px 0;
        a {
            display: inline-block;
            padding: 5px;
            color: $footer__link__color;
            font-size: 13px;
            margin-top: 5px;
        }
    }
    address {
        overflow: hidden;
        line-height: 23px;
        margin: 0 auto;
        font-style: normal;
        font-size: 12px;
        color: $footer__text__color;
        a {
            font-size: 12px;
            font-weight: bold;
            padding: 0 5px;
            color: $footer__link__color;
        }
    }
    .copyright {
        margin-top: 20px;
        font-size: 11px;
        color: $footer__text__color;
        font-weight: 600;
    }
}