@import '../mixin/config.scss';
.header {
    height: 90px;
    position: relative;
    overflow: hidden;
    .menu__btn__area {
        width: 5%;
        height: 90px;
        position: relative;
        float: left;
        overflow: hidden;
        span {
            display: block;
            position: absolute;
            margin: auto;
            top: 45px;
            left: 0;
            right: 0;
            height: 2px;
            width: 32px;
            background-color: #b4b3b3;
            transition: background .2s ease-in-out;
        }
        span::before {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #b4b3b3;
            content: "";
            top: -12px;
            transition-duration: .3s, .3s;
            transition-delay: 0s, 0s;
            transition-property: top, transform, -webkit-transform;
        }
        span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #b4b3b3;
            content: "";
            bottom: -12px;
            transition-property: bottom, transform, -webkit-transform;
            transition-duration: .3s, .3s;
            transition-delay: 0s, 0s;
        }
        .m_hamburgercloseactive span{
            background-color:transparent;
        }
        .m_hamburgercloseactive span::before{
            transform: rotate(-45deg);
            top:0;
        }
        .m_hamburgercloseactive span::after{
            transform: rotate(45deg);
            bottom: 0;
        }
    }
    .menu__item__area {
        width: 100%;
        height: 90px;
        position: absolute;
        left: 5%;
        top: 0;
        ul {
            width: 100%;
            height: 100%;
            background-color: #fff;
           // display: none;
            .menu__btn__item_list {
                width : 16%;
                float: left;
                height: 100%;
                line-height:90px;
                text-align: center;
            }
        }
    }
    .logo {
        width: 95%;
        height: 90px;
        line-height: 90px;
        float: left;
        overflow: hidden;
        text-align: right;
        img {
            margin-right: 30px;
        }
    }
}