@import '../mixin/config.scss';
.header {
    height: 90px;
    position: relative; // overflow: hidden;
    .menu__btn__area {
        width: 5%;
        height: 90px;
        position: relative;
        float: left;
        overflow: hidden;
        cursor: pointer;
        .m_hamburger {
            height: 100%;
        }
        span {
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            height: 2px;
            width: 32px;
            background-color: #b4b3b3;
            z-index : 2;
        }
        .span__center {
            top: 45px;
        }
        .span__before {
            top: 35px;
            left: 0;
        }
        .span__after {
            bottom: 33px;
            left: 0;
        }
        .m_hamburgercloseactive .span__center {
            background-color: transparent;
        }
    }
    .menu__item__area {
        width: 100%;
        height: 90px;
        position: absolute;
        left: 5%;
        top: 0;
        ul {
            width: 100%;
            height: 100%;
            background-color: #fff;
            .menu__btn__item_list {
                width: 16%;
                float: left;
                line-height: 90px;
                text-align: center;
                a {
                    display: inline-block;
                    height: 60px;
                    position: relative;
                }
                .underline {
                    width: 0;
                    height: 1px;
                    display: block;
                    background-color: $background;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    .logo {
        width: 95%;
        height: 90px;
        line-height: 90px;
        float: left;
        overflow: hidden;
        text-align: right;
        img {
            margin-right: 30px;
        }
    }
    @include mobile {
        .menu__btn__area {
            width: 20%;
        }
        .menu__item__area {
            width: 100%;
            top: 90px;
            left: 0;
            z-index: 2;
            ul {
                background-color: #fff;
                height: 280px;
                .menu__btn__item_list {
                    float: left;
                    width: 33%;
                }
                a {
                    font-size: 13px;
                }
            }
        }
        .logo {
            width: 80%;
            img {
                margin-right: 20px;
            }
        }
    }
}