@import '../mixin/config.scss';
$grid-spacing: 8px;
.grid {
    width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: gray;
    @include mobile {
        width: 100%;
        overflow-x: hidden;
    } // [class^="col-"] {
    // }
    .item {
        // padding: 10px;
        //background: #e4e5e7;
        text-align: center;
        color: #767779;
        float: left;
        // margin-right:$grid-spacing;
        // margin-top:$grid-spacing;
        // margin-right: $grid-spacing;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:last-child {
            margin-right: 0%;
        }
        .item-inner{
            padding: 5px;
            background-color: #e4e5e7;
            margin-right:$grid-spacing;
            margin-top:$grid-spacing;
        }
    }
    
    &.col-1 {
        .item {
            width: (100% /1);
        }
    }
    &.col-2 {
        .item {
            width: (100% / 2);
        }
    }
    &.col-3 {
        .item {
            width: (100% / 3);
        }
    }
    &.col-4 {
        .item {
            width: (100% / 4);
        }
    }
    &.col-5 {
        .item {
            width: (100% / 5);
        }
    }
    &.col-6 {
        .item {
            width: (100% / 6);
        }
    }
    &.col-7 {
        .item {
            width: (100% / 7);
        }
    }
    &.col-8 {
        .item {
            width: (100% / 8);
        }
    }
    .col-9 {
        .item {
            width: (100% / 9);
        }
    }
    &.col-10 {
        .item {
            width: (100% / 10);
        }
    }
    &.col-11 {
        .item {
            width: (100% / 11);
        }
    }
    &.col-12 {
        .item {
            width: (100%/12);
        }
    }
    .row {
        margin-top: -$grid-spacing;
        margin-right: -$grid-spacing;
        display: block;
        clear: both;
        content: '';
    }
}