@import '../mixin/config.scss';
@mixin grid-spacing($mt, $mr) {
    .grid__inner {
        margin-top: - $mt;
        margin-right: - $mr;
        .item-inner {
            margin-top: $mt;
            margin-right: $mr;
        }
    }
}

// 목표 api
@mixin box-sizing($x, $y) {
    $y: (100%/$x)*$y;
    .item-inner {
         // border-radius: 50%;
        &:after {
            content: "";
            display: block;
            padding-bottom: $y;
            background-color: rgb(33, 109, 105);
        }
        .box {
            background-color: rgb(226, 230, 177);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.multiline {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 20px;
    text-overflow: ellipsis;
}
.margin{
    margin-top: 50px;
    padding: 30px;
}
.inner-box{
    height:20px;
}

// .grid.rectangle3-2 {
//     @include box-sizing(3,2);
// }
// .grid.squre {
//     .item-inner {
//         @include box-sizing(16, 9);
//     }
// }
.grid {
    // width: 800px;
    $grid-spacing: 8px;
    position: relative;
    overflow: hidden; // background-color: #efefef;
    .grid__inner {
        display: block;
        clear: both;
        content: '';
    }
    .item {
        text-align: center; // color: #767779;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .item-inner {
            background-color: rgb(246, 219, 248);
            position: relative;
            overflow: hidden;
        }
    }
   
    @include grid-spacing($grid-spacing, $grid-spacing);
    &.square {
        @include box-sizing(1, 1);
    }
    &.rectangle3-2 {
        @include box-sizing(3, 2);
    } 
    // 그리드 확장
    &.nospacing {
        @include grid-spacing(0, 0);
    }
    &.col-1 {
        .item {
            width: (100% /1);
        }
    }
    &.col-2 {
        .item {
            width: (100% / 2);
        }
    }
    &.col-3 {
        .item {
            width: (100% / 3);
        }
    }
    &.col-4 {
        .item {
            width: (100% / 4);
        }
    }
    &.col-5 {
        .item {
            width: (100% / 5);
        }
    }
    &.col-6 {
        .item {
            width: (100% / 6);
        }
    }
    &.col-7 {
        .item {
            width: (100% / 7);
        }
    }
    &.col-8 {
        .item {
            width: (100% / 8);
        }
    }
    .col-9 {
        .item {
            width: (100% / 9);
        }
    }
    &.col-10 {
        .item {
            width: (100% / 10);
        }
    }
    &.col-11 {
        .item {
            width: (100% / 11);
        }
    }
    &.col-12 {
        .item {
            width: (100%/12);
        }
    }
    @include tablet {
        width: 100%;
        overflow-x: hidden;
        .item {
            width: (100%/3) !important;
            background-color: darkkhaki;
        } // @include box-sizing(3, 2);
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
        .item {
            width: 50% !important;
        }
    }
}