#content.content {
    // background: $a_hover_background;
    width: $content-width;
    margin: 0 auto;

    @include mobile {
        overflow-x: hidden;
        width: 100%;
        background: $color;
    }   
}
