@import '../mixin/config.scss';
.max__width {
    width: $max-width;
    margin: 10px auto;
}

.full__width {
    width: 100%;
}
.section_area{
    margin-top: 80px;
}

// 말줄입표
.line__box {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
    height: 30px;
    line-height: 30px;
}
.box{
    height:400px;
    width: 100%;
    background-image: url('../img/main_jante.jpg');
    background-repeat: no-repeat;
    background-position: 45%;
}